<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout(~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main>

    <h1>Login</h1>

    <form th:action="@{/authenticateTheUser}" method="post" >

        <div class="form-group">
            <div class="col-xs-15">
                <div>

                    <div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                        Invalid username and password.
                    </div>

                    <div th:if="${param.logout}" class="alert alert-success col-xs-offset-1 col-xs-10">
                        You have been logged out.
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-info">Login</button>
        
    </form>

</main>
</body>
</html>