<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main>
    <div>
        <h1>Profile</h1>
        <div>
            <p>Name: <span th:text="${loggedUser.firstName}"></span> <span th:text="${loggedUser.lastName}"></span></p>
            <p>Phone number: <span th:text="${loggedUser.phoneNumber}"></span></p>
            <p>Email: <span th:text="${loggedUser.email}"></span></p>
        </div>
    </div>
    <div class="container">
        <h2 class="row">Your pets <a th:href="@{/pet/new}" class="btn btn-primary">Add pet</a>
        </h2>
        <div class="row">
            <div th:each="pet : ${loggedUser.pets}" class="col-lg-4 pb-5">
                <div th:if="${loggedUser.pets.isEmpty()}">No Pets Found</div>
                <div class="card bg-secondary text-white text-center">
                    <div class="card-header"><h5 th:text="${pet.name}"></h5></div>
                    <div class="card-body">
                        <p class="card-title">Species: <span th:text="${pet.species.name}"></span></p>
                        <p class="card-text">Birth date: <span th:text="${pet.birthDate}"></span></p>
                        <a th:href="@{/appointment/list/{id}(id=${pet.id})}" class="card-text text-info btn btn-link">Appointments</a>
                        <a th:href="@{/pet/delete/{id}(id=${pet.id})}" class="card-text text-info btn btn-link">Remove</a>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/appointment/new/{id}(id=${pet.id})}" class="btn btn-primary">Set an appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>