<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main>
    <div>
        <h1>Profile</h1>
        <div>
            <p>Name: <span th:text="${loggedUser.firstName}"></span> <span th:text="${loggedUser.lastName}"></span></p>
            <p>Phone number: <span th:text="${loggedUser.phoneNumber}"></span></p>
            <p>Email: <span th:text="${loggedUser.email}"></span></p>
        </div>
    </div>
    <div class="container">
        <h2 class="row">Your pets</h2>
        <div class="row">
            <div th:if="${loggedUser.pets.isEmpty()}">No Pets Found</div>
            <div th:each="pet : ${loggedUser.pets}" class="col-3 card border-secondary mb-3">
                <div class="card-header"><h5 th:text="${pet.name}"></h5></div>
                <div class="card-body text-secondary">
                    <p class="card-title">Species: <span th:text="${pet.species.name}"></span></p>
                    <p class="card-text">Birth date: <span th:text="${pet.birthDate}"></span></p>
                </div>
            </div>

            </div>
        </div>

</main>
</body>
</html>